.conflictViewListItem {
    padding-left: 0px;
    padding-right: 0px;
    background: none !important;
}

.nav-menu{
    padding-top:1em;

}
.nav-menu-item{
    padding-right: 1em;
    font-size: 1.2em;
}