{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block tab_title %}
  {% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "lib/fontawesome-free-5.6.3-web/css/all.css" %}">
  <link type="text/css" rel="stylesheet" href="{%  static "lib/bootstrap-vue/bootstrap.min.css" %}"/>
  <link type="text/css" rel="stylesheet" href="{%  static "lib/bootstrap-vue/bootstrap-vue.css" %}"/>
  {% block head_end %}{% endblock %}
</head>

<body>
  {% include 'header.html' %}
  <div class="container-fluid px-5">
    {#  Div gives spacing to the sides to its content #}
    {% block content %}{% endblock %}
  </div>
  <script type="text/javascript" src="{% static "lib/vue/vue.js" %}"></script>
  <script src="{% static "lib/bootstrap-vue/polyfill.min.js" %}"></script>
  <script src="{% static "lib/bootstrap-vue/bootstrap-vue.js" %}"></script>
  <script type="text/javascript" src="{% static "lib/vue-resource/vue-resource.js" %}"></script>
  {% block body_end %}
    {# Mostly for scripts that should go after the content and after the vue.js script tag #}
  {% endblock body_end %}
</body>

</html>