{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if clusters %}
<body>

<b-container style="max-width: 1450px">

    <h1>Patrones en conflictos</h1>
    <div class="container">
    {% for patron in clusters %}
    <div class="col-sm-6" >
        
    <div class="row">
            <div class="card" >
                 <div class="card-group">
                     {% for conflicto in patron %}
                        <div class="col-sm-4"style=" padding-left: 0px;  padding-right: 0px;">
                            <div class="card">
                                <div class="card-body">
                                    <p>{{ conflicto.parlamentario }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    {% endfor %}
</div>
</b-container>

</body>
{% else %}
    <h1>No se han encontrado patrones de conflictos de interés.</h1>
{% endif %}
{% endblock %}