{% extends 'base.html' %}
{% load static %}

{% block body_end %}
    <script type="text/x-template" id="conflictosVue"></script>
    <script src="{% static 'lib/vuex/vuex.js' %}"></script>
    <script src="{% static 'ltweb/js/conflictos_filter.js' %}"></script>
{% endblock %}

<script>
{% block vue_dependencies %}
    const DEPS = {'conflictos-vue': conflictosVue};
{% endblock %}
</script>

{% block content %}

{% if clusters %}
<body>

<h1>Patrones en conflictos</h1>

{% for patron in clusters %}

    {% for conflicto in patron %}

        {{ conflicto.nombre_ley }}
        {{ conflicto.razon.prov_conf }}
        {{ conflicto.razon.motivo }}
        {{ conflicto.parlamentario }}

    {% endfor %}

{% endfor %}

</body>
{% else %}
    <h1>No se han encontrado patrones de conflictos de interés.</h1>
{% endif %}
{% endblock %}