{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if clusters %}
<body>

<b-container style="max-width: 1450px">

    <h1>Patrones en conflictos</h1>

    {% for patron in clusters %}

        {% for conflicto in patron %}

            <p>{{ conflicto.nombre_ley }}</p>
            <p>{{ conflicto.razon.prov_conf }}</p>
            <p>{{ conflicto.razon.motivo }}</p>
            <p>{{ conflicto.parlamentario }}</p>

        {% endfor %}

    {% endfor %}
</b-container>

</body>
{% else %}
    <h1>No se han encontrado patrones de conflictos de interés.</h1>
{% endif %}
{% endblock %}