{% extends 'base.html' %}

{% block content %}

{% if conflictos %}
    <b-container class="bv-example-row">
        <b-row>
            <b-col class="ml-auto">
            <h3>Conflictos Existentes</h3>
            </b-col>
        </b-row>
        <b-row>
            {% for conflicto in conflictos%}
                <b-col class="cols-6">
                {% if conflicto.grado == 'leve' %}
                <b-card style="margin-top: 20px;" no-body header=" " header-bg-variant="warning">
                {% else %}
                <b-card style="margin-top: 20px;"no-body header=" " header-bg-variant="danger">
                {% endif %}

                    <b-card-body style="padding-bottom: 0px">
                        <a href="{% url 'Ver Declaracion' id=conflicto.id_parlamentario %}"><h4>{{ conflicto.parlamentario }}</h4></a>
                        <h4>{{ conflicto.partido|title }}</h4>
                        <b-card-text>
                            <b-list-group flush>
                                <b-list-group-item><b>Ley Nº : </b>{{conflicto.ley}}</b-list-group-item>
                                <b-list-group-item><b>Nombre de Ley : </b>{{conflicto.nombre_ley|title}}</b-list-group-item>
                                <b-list-group-item><b>Motivo : </b>{{conflicto.prov_conf|title}}</b-list-group-item>
                                <b-list-group-item><b>Patrimonio en conflicto : </b>{{conflicto.motivo|title}}</b-list-group-item>
                                <b-list-group-item><b>Grado de Conflicto : </b>{{conflicto.grado|title}}</b-list-group-item>
                            </b-list-group>
                        </b-card-text>
                    </b-card-body>
                </b-card>
                </b-col>
            {% endfor %}
        </b-row>
    </b-container>

{% else %}
    <h1>No se han encontrado conflictos de interes.</h1>
{% endif %}
{% endblock %}