{% extends 'base.html' %}

{% block content %}
{% if conflictos %}
<div>
        <div>
<b-card-group deck>
    Ley {{nro_ley}} - {{desc_ley}}  -  {{nombre_ley}}
    {% for diputado in conflictos %}
            {% if diputado.0 > 109 %}
            <b-card bg-variant="Light" title= "{{ diputado.1 }}" header= "Conflicto " header-text-variant="white" header-bg-variant="danger"> 
             {% else %}
             <b-card bg-variant="Light" title= "{{ diputado.1 }}" header= "Conflicto Leve" header-text-variant="white" header-bg-variant="warning"> 
             {% endif %}
                <b-card-text>
                    <b-list-group flush>
                            <b-list-group-item><b>Nombre Razon Social : </b>{{diputado.3.Nombre_Razon_Social}}</b-list-group-item>
                        </b-list-group>
                        <div class="bg-light text-dark text-center">
                                <b>{{diputado.3.Tiene_Calidad_Controlador}}</b> tiene calidad de controlador
                              </div>
              </b-card-text>
          
              <b-button href="{% url 'Ver Declaracion' %}?id={{ diputado.2 }}" variant="primary">Ver declaracion</b-button>
            </b-card>
    {% endfor %}
</b-card-group>
</div>
</div>
{% else %}
<h1>No se han encontrado conflictos de interes.</h1>
{% endif %}
{% endblock %}