{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8 B">
        <div>
            <b-card bg-variant="light"title="Leyes con conflictos recientes">
              <b-card-text>
                <b-list-group>
                  {% for numero, day, nombre, cant, grado in conflictos %}
                    <b-list-group-item class="flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                          <h5 class="mb-1">Ley {{ numero }}: {{ nombre }}</h5>
                          {% if grado < 0  %}
                          <b-badge variant="warning" pill>{{ cant }} conflictos</b-badge>
                          {% elif grado > 0 %}
                          <b-badge variant="danger" pill>{{ cant }} conflictos</b-badge>
                          {% else %}
                          <b-badge variant="info" pill>{{ cant }} conflictos</b-badge>
                          {% endif %}
                        </div>
                        <small class="text-muted">Hace {{ day }} días</small>
                    </b-list-group-item>
                  {% endfor %}
                  </b-list-group>
              </b-card-text>
            </b-card>
          </div>

      </div>
      <div class="col-md-6 col-lg-4 G">
        <div class="row" style="margin-bottom: 15px;">
          <div class="col mb-4">
            <b-card title="Parlamentarios con más conflictos">
              <b-card-text>
                <table align="center">
                  <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                  </tr>
                    {% for cant, nombre, partido in diputados %}
                    <tr style="border-bottom: 1px solid #ddd;">
                    <td class = "py-2">{{ nombre }}</td>
                    <td style="text-align:center" class = "py-2">{{ cant }}</td>
                    </tr>
                    {% endfor %}
                </table>
              </b-card-text>
            </b-card>
          </div>
          <div class="col">
            <b-card title="Partidos con más conflictos">
              <b-card-text>
                <table>
                  <tr>
                    <th style="text-align:center ; padding-right: 2rem;">Partido</th>
                    <th style="text-align:center ; padding-right: 2rem;">Total</th>
                    <th style="text-align:center ; padding-right: 2rem;">Graves</th>
                    <th style="text-align:center ; padding-right: 2rem;">Leves</th>
                  </tr>
                    {% for total, graves, leves, partido in partidos %}
                    <tr style="border-bottom: 1px solid #ddd; ">
                    <td style= "padding-right: 2rem; ">{{ partido }}</tdpadding-right: 7.5px;>
                    <td  style="text-align:center ; padding-right: 2rem;" class = "py-2">{{ total }}</td>
                    <td  style="text-align:center; padding-right: 2rem;" class = "py-2">{{ graves }}</td>
                    <td  style="text-align:center; padding-right: 2rem;" class = "py-2">{{ leves }}</td>
                    </tr>
                    {% endfor %}
                  </table>
              </b-card-text>
            </b-card>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>

{% endblock%}

{% block body_end %}
      <script type="text/javascript">
        var stats = {{stats|safe}};
      </script>
{% endblock %}