{% extends 'base.html' %}
{% load static %}
{% block head_end %}
  <link rel="stylesheet" href="{% static 'lib/DataTables/dataTables.bootstrap4.min.css' %}">
  <script type="text/javascript" charset="utf8" src="{% static 'lib/DataTables/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'lib/DataTables/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'lib/DataTables/dataTables.bootstrap4.min.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'lib/DataTables/Spanish.js' %}"></script>
{% endblock %}

{% block content %}

<table  class="table table-striped table-bordered compact" id="dip_table" cellspacing="0">
	<thead>
		<tr>
			<td>Nombre</td>
			<td>Apellido Paterno</td>
			<td>Apellidos Materno</td>
            <td>
				<div class="text-center"><a class="btn btn-primary center" href="{% url 'Subir declaracion' %}">Subir Declaracion</a></div>
			</td>
		</tr>
	</thead>
	<tbody>
		{% if diputados %}
		{% for diputado in diputados %}
		<tr>
			<td>{{ diputado.nombres }}</td>
			<td>{{ diputado.apellido_paterno }}</td>
			<td>{{ diputado.apellido_materno }}</td>
			<td>
				<div class="text-right">
                    <a class="btn btn-sm btn-primary" href="{% url 'Editar Declaracion' %}?id={{ diputado.id }}" >Ver Declaración</a>
                    <a class="btn btn-sm btn-danger " href="#">Eliminar</a>
                </div>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de Parlamentarios</h1>
		{% endif %}
	</tbody>
</table>
{% endblock%}

{% block body_end %}
<script>
$(document).ready(function() {
    var table = "#dip_table";
    console.log('creating table '+table);

    var diputable = $(table).DataTable({
        "language": langSpanish,
        orderCellsTop: true,
        "order": [[ 0, "desc" ]],
        "scrollY":        "70vh",
        "paging":         true,


    });
});
</script>
{% endblock %}