{% extends 'base.html' %}
{% load static %}

{% block head_end %}
    <link type="text/css" rel="stylesheet" href="{%  static "lib/chartist/chartist.min.css" %}"/>
    <link rel="stylesheet" href="{% static 'ltweb/style.css' %}">
    <script type="text/x-template" id="EstadisticasVue"></script>
    <script src="{% static 'ltweb/js/estadistica.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'lib/chartist/chartist.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'lib/chartist/chartist-plugin-axistitle.js' %}"></script>
{% endblock %}

<script>
{% block vue_dependencies %}
    const DEPS = {'estadisticas-vue': EstadisticasVue};
{% endblock %}
</script>

{% block content %}

    <estadisticas-vue :class="toEstadisticas"></estadisticas-vue>

{% endblock %}



{% block body_end %}


{% endblock %}