{%  load static %}
<div>
    <b-navbar-brand href="{% url "Home" %}">
        <img  src="{% static "ltweb/img/logo.png" %}" class="d-inline-block align-top" width="220px">
    </b-navbar-brand>
    <div>
      <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item href="{% url "Lista Diputados" %}">Diputados</b-nav-item>
            <b-nav-item href="{% url "Lista Leyes" %}">Proyectos de Ley</b-nav-item>
          </b-navbar-nav>
          <!-- Right aligned nav items -->
        </b-collapse>
      </b-navbar>
    </div>