{% extends "base.html" %}

{% block content %}
    <b-container :class="toRegistro">
        <b-form v-if="show">

            <b-form-group label="Nombre:" label-for="textNombre">
                <b-form-input id="textNombre"
                required
                placeholder="Ingresar Nombre"
                v-model="form.nombre">
                </b-form-input>
            </b-form-group>

            <b-form-group label="Email:" label-for="textEmail">
                <b-form-input id="textEmail"
                required
                placeholder="Ingresar Email"
                v-model="form.email">
                </b-form-input>
            </b-form-group>

            <b-form-group label="Contraseña:" label-for="textPassword">
                <b-form-input id="textPassword"
                required
                placeholder="Ingresar Contraseña"
                type="password"
                v-model="form.contrasena">
                </b-form-input>
            </b-form-group>

        </b-form>

        <b-button v-on:click="onSubmit" type="submit" variant="primary">Registrarse</b-button>
        <b-button v-on:click="onReset" type="reset" variant="danger">Limpiar campos</b-button>

    </b-container>

{% endblock %}