{% extends 'base.html' %}
{% load static %}
{% block body_end %}
    <script type="text/x-template" id="ParlamentariosForm">

    </script>
    <script src="{% static 'lib/vuex/vuex.js' %}"></script>
    <script src="{% static 'ltweb/js/declaracion_store.js' %}"></script>
    <script src="{% static 'ltweb/js/declaracion_form.js' %}"></script>

{% endblock %}


{% block head_end %}

{% endblock %}

<script>
{% block vue_dependencies %}
    const DEPS = {'parlamentarios-form': ParlamentariosForm};
{% endblock %}
</script>

{% block content %}

<body data="{{ declaracion }}">

    <parlamentarios-form></parlamentarios-form>


</body>
{% endblock%}


