Hola!

Se han detectado {{ cantidad }} conflictos nuevos.

Detalles de la ley
N°: {{nro_ley}}
Nombre: {{nombre_ley}}

Detalle de los conflictos

Conflictos Graves
{% for diputado in high%}
Nombre parlamentario: {{ diputado.2 }}
Nombre Razon Social: {{diputado.4.Nombre_Razon_Social|title}}
Porcentaje Propiedad: {{diputado.4.Cantidad_Porcentaje|title}}
Tiene calidad de controlador: {% if diputado.4.Tiene_Calidad_Controlador == "false" %}NO{% else %}SI{% endif %}

{% endfor %}

Conflictos Leves

{% for diputado in low%}
Nombre parlamentario: {{ diputado.2 }}
Nombre Razon Social: {{diputado.4.Nombre_Razon_Social|title}}
Porcentaje Propiedad: {{diputado.4.Cantidad_Porcentaje|title}}
Tiene calidad de controlador: {% if diputado.4.Tiene_Calidad_Controlador == "false" %}NO{% else %}SI{% endif %}
{% endfor %}
